body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  height: 100vh;
}

header {
  background-color: #aac1ec;
  color: white;
  padding: 10px 0;
  text-align: center;
}

nav.menu ul {
  list-style-type: none;
  padding: 0;
}

nav.menu ul li {
  display: inline;
  margin: 0 15px;
}

nav.menu ul li a {
  text-decoration: none;
  transition: color 0.3s;
}

nav.menu ul li a:hover {
    color: #4c63af;
}


main {
  height: 85vw;
  max-width: 80vw;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 15px;
  padding-right: 23px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #85a7e6;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #85a7e6;
}

#errorMessage {
  color: red;
  margin-top: 15px;
}


main p {
    margin-bottom: 15px;
    text-align: center;
}

h2 {
    color: #4c63af;
    text-align: center;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

p a {
    display: inline-block;
    margin-top: 0px;
    padding: 0px 0px;
    color: #4c63af;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.button-container {
  display: flex;
  justify-content: center;
}

#index-btn {
  background-color: #85a7e6;
  text-align: center;
}

#index-btn:hover {
  background-color: #4c63af;
  text-align: center;
}


.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.card {
  position: relative;
  transition: all 0.4s linear;
  transform-style: preserve-3d;
  margin: 5px;
  cursor: pointer;
  background-size: cover; /* Remplir la carte sans déformer l'image */
  background-attachment: fixed; /* Fixe l'image lorsqu'on fait défiler */
  background-position: center; /* Centre l'image dans la carte */
}

.card,
.back,
.front {
  width: 15vw;
  height: 15vw;
}

.back,
.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front {
  background: #ecb25b url("../images/question.svg") no-repeat center center /
    contain;
}

.back {
  transform: rotateY(180deg);
  background-color: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
  transform: rotateY(180deg);
}

.match {
  background-image: none;
  transform: rotateY(180deg);
}

.match .front {
  background: none !important;
}


.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.link {
    display: block;
    margin: 10px 0;
    text-align: center;
    color: #85a7e6;
    text-decoration: none;
}

.link:hover {
    color: #4c63af
}

#menu-deroulant {
  text-align: center;
}

select {
    width: 100%; /* Prend toute la largeur du conteneur */
    padding: 10px; /* Ajoute un peu d'espace à l'intérieur */
    font-size: 16px; /* Taille de la police */
    border: 1px solid #ccc; /* Bordure grise */
    border-radius: 4px; /* Coins arrondis pour le select */
    margin: 10px 0; /* Marge au-dessus et en dessous */
    background-color: #fff; /* Couleur de fond */
}

#profile {
    margin-bottom: 20px; /* Marge en bas du profil */
}

#links {
    margin-top: 20px; /* Marge au-dessus des liens */
}

#brain img{
  width: 30vw;
}

#brain {
  display: flex;
  justify-content: center;
}